<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="AppConfigSetting" type="BRSTestDataGenerator.ConfigScript.AppConfig+AppPropSection, ASI.ICT.BRSTestDataGenerator"/>
    </configSections>

    <AppConfigSetting>
        <DBServer>
            <!--<add key="T2BRSDB" value="server=192.168.11.22;user id=BRSA3User;password=BRSA3Test;database=T2BRSDB;Timeout=60;pooling=true;min pool size=1;max pool size=4;connection lifetime=900" />-->
            <add key="T1BRSDB" value="server=192.168.11.22;user id=brsdba;password=bs308adm;database=T1BRSDB;Timeout=60;pooling=true;min pool size=1;max pool size=4;connection lifetime=900" />
            <!--<add key="T1BRSDB" value="data source=192.168.100.10;Port=5000;user id=brsdba;password=bs308adm;database=T1BRSDB;Timeout=300;Charset=iso_1;CommandTimeout=3600;Pooling=True;MinPoolSize=1;MaxPoolSize=6;ConnectionLifeTime=900" />-->
        </DBServer>
        <Basic>
           <add key="MODE" value="1" />
           <add key="TestDate" value="2020-10-22" />
        </Basic>
    </AppConfigSetting>
</configuration>